/an_hui_geo.js
/ao_men_geo.js
/bei_jing_geo.js
/china_geo.js
/chong_qing_geo.js
/fu_jian_geo.js
/gan_su_geo.js
/guang_dong_geo.js
/guang_xi_geo.js
/gui_zhou_geo.js
/hai_nan_geo.js
/he_bei_geo.js
/he_nan_geo.js
/hei_long_jiang_geo.js
/hu_bei_geo.js
/hu_nan_geo.js
/ji_lin_geo.js
/jiang_su_geo.js
/jiang_xi_geo.js
/liao_ning_geo.js
/nei_meng_gu_geo.js
/ning_xia_geo.js
/qing_hai_geo.js
/shan_dong_geo.js
/shan_xi_1_geo.js
/shan_xi_2_geo.js
/shang_hai_geo.js
/si_chuan_geo.js
/tai_wan_geo.js
/tian_jin_geo.js
/world_geo.js
/xi_zang_geo.js
/xiang_gang_geo.js
/xin_jiang_geo.js
/yun_nan_geo.js
/zhe_jiang_geo.js
