/BaseExtMapper.java
/KanbanMapper.java
/LogMapper.java
/PlanMapper.java
/ProduceMapper.java
/ReportMapper.java
/ResourcesMapper.java
/RoleMapper.java
/ServerInfoMapper.java
/UserLoginMapper.java
/UserMapper.java
/WorkShopMapper.java
