/bootstrap.min.css
/bootstrap.min.js
/daterangepicker-bs2.css
/daterangepicker-bs3.css
/daterangepicker.js
/font-awesome.min.css
/fontawesome-webfont.woff
/index.html
/jquery-1.8.3.min.js
/moment.js
/moment.min.js
