/app.plugin.js
/app.v1.css
/app.v1.js
/avatar.jpg
/avatar_default.jpg
/bootstrap-filestyle.min.js
/bootstrap.css
/bootstrap_calendar.css
/bootstrap_calendar.js
/font.css
/jquery.easy-pie-chart.js
/jquery.flot.grow.js
/jquery.flot.min.js
/jquery.flot.resize.js
/jquery.flot.tooltip.min.js
/jquery.sortable.js
/jquery.sparkline.min.js
